h1 {
    color: #0D47A1;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #01579B;
    text-align: left;
    margin-bottom: 10px;
}
div{
    background-color: greenyellow;
}